<div class="container-sm">
  <div class="btn-group mb-3" role="group" aria-label="Botones">
    <button
      type="button"
      class="btn btn-primary"
      data-bs-toggle="modal"
      data-bs-target="#exampleModal"
      (click)="validateNew()"
    >
      New
    </button>
    <button type="button"  (click)="downloadCSV()" class="btn btn-primary">Export</button>
  </div>

  <div class="input-group mb-3">
    <input
      type="text"
      (change)="onSearch($event)"
      class="form-control"
      placeholder="Enter shared key"
      aria-label="Enter shared key"
      aria-describedby="basic-addon2"
    />
    <span class="input-group-text" id="basic-addon2">Search</span>
    <a
      class="btn btn-primary"
      data-bs-toggle="collapse"
      href="#collapseExample"
      role="button"
      aria-expanded="false"
      aria-controls="collapseExample"
    >
      Advanced Search
    </a>
  </div>

  <div class="collapse" id="collapseExample">
    <div class="card card-body">
      <form [formGroup]="profileForm" (ngSubmit)="onSubmitSearch()">
        
          <div class="row mb-3">
            <label for="inputName3" class="col-sm-2 col-form-label">Name</label>
            <div class="col-sm-10">
              <input
                type="text"
                [(ngModel)]="name"
                formControlName="nameClient"
                name="name"
                class="form-control"
                id="name"
              />
            </div>
          </div>
          <div class="row mb-3">
            <label for="inputPhone3" class="col-sm-2 col-form-label"
              >Phone</label
            >
            <div class="col-sm-10">
              <input
                type="text"
                [(ngModel)]="phone"
                formControlName="phoneClient"
                name="phone"
                class="form-control"
                id="phone"
              />
            
            </div>
          </div>
          <div class="row mb-3">
            <label for="inputEmail3" class="col-sm-2 col-form-label"
              >E-mail</label
            >
            <div class="col-sm-10">
              <input
                type="email"
                [(ngModel)]="email"
                formControlName="emailClient"
                name="email"
                class="form-control"
                id="email"
              />
            </div>
          </div>

          <div class="row mb-2">
            <label for="inputStartDate3" class="col-sm-3 col-form-label"
              >Start Date</label
            >
            <div class="input-group col-sm-5">
              <div class="input-group-text"></div>
              <input
                type="date"
                [(ngModel)]="startDate"
                formControlName="startDateClient"
                name="startDate"
                class="form-control"
                id="startDate"
              />
            </div>
          </div>

          <div class="row mb-1">
            <label for="inputEndDate3" class="col-sm-3 col-form-label"
              >End Date</label
            >
            <div class="input-group col-sm-5">
              <div class="input-group-text"></div>
              <input
                type="date"
                [(ngModel)]="endDate"
                formControlName="endDateClient"
                name="endDate"
                class="form-control"
                id="endDate"
              />
            </div>
          </div>

        <button type="submit" class="btn btn-primary">Search</button>
      </form>
    </div>
  </div>

  <div>
    <h2>Client</h2>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Shared Key</th>
        <th scope="col">Phone</th>
        <th scope="col">E-mail</th>
        <th scope="col">Data Start</th>
        <th scope="col">Data Added</th>
        <th scope="col">Options</th>
      </tr>
    </thead>
    <tbody>
      @for(item of clientSearch; track item) {
      <tr>
        <th scope="row">{{ item.id }}</th>
        <td>{{ item.name }}</td>
        <td>{{ item.phone }}</td>
        <td>{{ item.email }}</td>
        <td>{{ item.startDate }}</td>
        <td>{{ item.endDate }}</td>

        <td>
          <button
            (click)="editClient(item.id)"
            class="btn btn-primary"
            role="button"
            data-bs-toggle="modal"
            data-bs-target="#exampleModal"
          >
            <i class="bi bi-pencil-fill"></i>
          </button>
        </td>
      </tr>
      }
    </tbody>
  </table>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        @if(statusEdit){
        <h5 class="modal-title" id="exampleModalLabel">
          Create New Client: {{ clienteEdit?.name }}
        </h5>
        }@else {
        <h5 class="modal-title" id="exampleModalLabel">Create New Client</h5>
        }

        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
          <input
                type="hidden"
                formControlName="idClient"
                name="idClient"
                class="form-control"
                id="idClient"

              />

          <div class="row mb-3">
            <label for="inputName3" class="col-sm-2 col-form-label">Name</label>
            <div class="col-sm-10">
              <input
                type="text"
                [(ngModel)]="name"
                formControlName="nameClient"
                name="name"
                class="form-control"
                id="name"
                (blur)="onChangeName()"
              />
              <div *ngIf="profileForm.get('nameClient')?.touched && profileForm.get('nameClient')?.hasError('required')" class="text-danger">
                The name is required
              </div>
            </div>
          </div>
          <div class="row mb-3">
            <label for="inputPhone3" class="col-sm-2 col-form-label"
              >Phone</label
            >
            <div class="col-sm-10">
              <input
                type="text"
                [(ngModel)]="phone"
                formControlName="phoneClient"
                name="phone"
                class="form-control"
                id="phone"
              />
            
            </div>
          </div>
          <div class="row mb-3">
            <label for="inputEmail3" class="col-sm-2 col-form-label"
              >E-mail</label
            >
            <div class="col-sm-10">
              <input
                type="email"
                [(ngModel)]="email"
                formControlName="emailClient"
                name="email"
                class="form-control"
                id="email"
                (blur)="onChangeEmail()"
              />
              <div *ngIf="profileForm.get('emailClient')?.touched && profileForm.get('emailClient')?.hasError('required')" class="text-danger">
                The email is required
              </div>
              <div *ngIf="profileForm.get('emailClient')?.touched && profileForm.get('emailClient')?.hasError('email')" class="text-danger">
                The email no valid
              </div>
            </div>
          </div>

          <div class="row mb-2">
            <label for="inputStartDate3" class="col-sm-3 col-form-label"
              >Start Date</label
            >
            <div class="input-group col-sm-5">
              <div class="input-group-text"></div>
              <input
                type="date"
                [(ngModel)]="startDate"
                formControlName="startDateClient"
                name="startDate"
                class="form-control"
                id="startDate"
                value="{{ statusEdit ? clienteEdit?.startDate : '' }}"
              />
            </div>
          </div>

          <div class="row mb-1">
            <label for="inputEndDate3" class="col-sm-3 col-form-label"
              >End Date</label
            >
            <div class="input-group col-sm-5">
              <div class="input-group-text"></div>
              <input
                type="date"
                [(ngModel)]="endDate"
                formControlName="endDateClient"
                name="endDate"
                class="form-control"
                id="endDate"
              />
            </div>
          </div>

          <button type="submit" class="btn btn-primary">OK</button>
        </form>
      </div>
      <!--<div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
       <button
          (click)="enviarValor()"
          type="button"
          class="btn btn-primary"
          data-bs-dismiss="modal"
        >
          Create
        </button>
      </div>-->
    </div>
  </div>
</div>
